.aboutTop{
    background-image:url("../public/10.jpg");
    width:100%;
min-height:400px;
    background-repeat:no-repeat;
    background-size:cover;
}
.aboutBottom{
    width:100%;
    min-height:300px;

}
.aboutBottom h1{
    font-weight:bold;
    font-family: cursive;
    left:40%;
    display:flex;
    text-align:center;
    
    transform:translate(40%)
}
.aboutBottom p{
   margin-left:200px;
   margin-right:200px;
  
}
@media only screen and (max-width:600px){
    .aboutBottom p{
        margin-left:30px;
        margin-right:30px;
    }
}
