.navbar{
    display:flex;
    flex-direction:row;
    height:100px;
    width:100%;
    background-color:black;
  }
  .navbar .leftside{
    display:flex;
    flex:50%;
    height:100%;
    padding-left:150px;
  }
  .navbar .leftside img{
    width:70px;
  }
  .navbar .rightside{
    display:flex;
    flex:50%;
    height:100%;
    align-items: center;
  justify-content: center;
  
    
  }
  .navbar   a{
    display: flex;
    justify-content: center;
    text-decoration:none;
    color:white;
 margin:20px;
    

    
  }
  .navbar .rightside button{
    display:none;
  }

  .navbar #open img{
    display:none;
  }
  .navbar #close img{
    display:inherit;
  }
  .navbar #open .hiddenlinks{
    display:inherit;
  } 
  .navbar #close .hiddenlinks{
    display:none
  }
  
  @media only screen and (max-width:900px){
    .navbar .rightside{
        width:70px;

    }
    .navbar .leftside {
        padding-left:50px;
    }
  }
@media only screen and (max-width:600px){
    .navbar .rightside a{
       display:none;
    }
    .navbar .rightside {
        justify-content:flex-end;
        padding-right:50px;
    }
    .navbar .rightside button{
        display:inherit;
    }
    .hiddenlinks{
      display:inherit;
    }
    /*.hiddenlinks{
      display:block;
    }*/
}
@media only screen and (min-width:600px){
    .navbar.rightside button{
        display:none;
    }
    .hiddenlinks{
        display:none;
    }
}

